body{
	margin: 0px;

}

header{
	background-color: grey;
	color: whitesmoke;

}

nav{
	background-color: palevioletred;

}

ul{
	margin: 0px;
	list-style: none;

}

#header-text{
	text-align: center;

background-image: url(https://images.unsplash.com/photo-1533073526757-2c8ca1df9f1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
height: 400px;
background-size: cover;

}

h1{
	margin: 0px;
	
}
section{
	padding: 20px 10px;
	background-color: lightsalmon;
	color: whitesmoke;

}

footer{
	padding: 20px 10px;
	margin-left: 50x;
	background-color: palevioletred;
	color: whitesmoke;

}